@using System.Text.RegularExpressions
@using HiveMinds.Services.Interfaces
@inject IUtility Utility;
@model Tuple<HiveMinds.ViewModels.ThoughtViewModel, HiveMinds.ViewModels.UserViewModel>

<div class="list-group-item mb-4 p-4 border rounded shadow-sm">
    <div class="d-flex justify-content-between align-items-center">
        <h5 class="mb-0">
            <a href="~/profile/@Model.Item1.Username" target="_blank" class="text-decoration-none">
                @@@Model.Item1.Username
                @if (await Utility.IsUserVerified(Model.Item1.Username))
                {
                    <i class="bi bi-patch-check-fill text-success me-1"></i>
                }
            </a>
        </h5>
        <small class="text-muted">@Model.Item1.CreatedAt</small>
    </div>
    @{
        const string pattern = @"(@\w+)";
        var content = Model.Item1.Content;
        var parts = Regex.Split(content, pattern);
    }

    <p class="my-3">
        @foreach (var i in parts)
        {
            if (Regex.IsMatch(i, pattern))
            {
                var username = i[1..];
                <a href="~/profile/@username" target="_blank" class="text-decoration-none">@i</a>
            }
            else
            {
                <span>@i</span>
            }
        }
    </p>
    <div class="d-flex justify-content-between align-items-center">
        <div class="likes-replies">
            <span class="me-3">
                <i class="bi bi-heart"></i> <span class="badge bg-secondary">@Model.Item1.Likes?.Count</span>
            </span>
            <span>
                <i class="bi bi-reply"></i> <span class="badge bg-secondary">@Model.Item1.Replies?.Count</span>
            </span>
        </div>
        @if (User.Identity is {IsAuthenticated: true})
        {
            <div class="mt-3">
                <form method="post">

                    @if (Model.Item2.Likes?.FirstOrDefault(x => x.ThoughtId == Model.Item1.Id) != null)
                    {
                        <button type="submit" class="btn btn-sm btn-outline-primary" asp-action="Unlike" asp-controller="Thought" asp-route-id="@Model.Item1.Id">
                            Unlike
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-sm btn-outline-primary" asp-action="Like" asp-controller="Thought" asp-route-id="@Model.Item1.Id">
                            Like
                        </button>
                    }
                    <button type="button" onclick="window.open('/thought/@Model.Item1.Id')" class="btn btn-sm btn-outline-primary">
                        Reply
                    </button>
                    <button type="button" onclick="window.open('/thought/@Model.Item1.Id')" class="btn btn-sm btn-outline-danger">
                        Report
                    </button>
                </form>
            </div>
        }
    </div>
</div>